body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header{
    background-color: black;
    padding: 20px;
    color: white;
    text-align: center;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    margin-top: 50px;
} 

.container img{
    width: 500px;
    height: auto;
}

@media (max-width: 600px){
    .container img{
        display: none;
    }
}