body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1{
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.box {
    background-color: #484b48;
    color: white;
    padding: 40px;
    text-align: center;
    border-radius: 8px;
}

    /* Mobile */
    @media (max-width: 600px) {
      .grid-container {
        grid-template-columns: 1fr;
      }
    }