body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header{
    background-color: black;
    padding: 20px;
    color: white;
    text-align: center;
}

h1{
    text-align: center;
}
.grid-container {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

h2{
    font-size: 60px;
}

    /* Mobile */
    @media (max-width: 600px) {
        h2{
            font-size: 20px;
        }
    }