body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header{
    background-color: black;
    padding: 20px;
    color: white;
    text-align: center;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    margin-top: 50px;
    width: 100%;
    height: auto;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card{
    background-color: black;
    border-radius: 10px;
    width: 250px;
    height: 230px;
    transition: all 0.5s ease;
}

.card:hover{
    transform: scale(1.09);
}

@media (max-width: 1500px){
    .container{
        flex-direction: column;
        gap: 30px;
    }
}