body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header{
    background-color: black;
    padding: 20px;
    color: white;
    text-align: center;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
}
.card{
    background-color: black;
    border-radius: 10px;
    width: 200px;
    height: 400px;
}

@media (max-width: 800px){
    .container{
        grid-template-columns: repeat(1, 1fr);
    }
}