body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header{
    background-color: black;
    padding: 20px;
    color: white;
    text-align: center;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bloco{
    margin-top: 50px;
    width: 50%;
    height: 200px;
    background-color: blue;
}

@media (max-width: 600px){
    .bloco{
        width: 100%;
    }
}