body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header{
    background-color: black;
    padding: 20px;
    color: white;
    text-align: center;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    margin-top: 50px;
} 

.container button{
    width: 100px;
    height: 50px;
    padding: 200px;
    background-color: black;
    color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.container button::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  background: rgba(66, 65, 68, 0.5);
  border-radius: inherit;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  transition: all 0.5s ease;
}

/* Animação ao clicar */
.container button:active::after {
  animation: ripple 0.7s ease-out;
}

@keyframes ripple {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.6;
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

@media (max-width: 600px){
    .container button{
        width: 100px;
        height: 100px;
        padding: 20px;
    }
}


.container button:active {
  animation: pulse 0.3s;
}

@keyframes pulse {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.1); }
  100% { transform: scale(1); }
}