body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: white;
}
h1{
    font-size: 30px;
        text-align: center;
        margin: 20px;
}
main{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

nav{
    width: 100%;
    height: auto;
}
nav ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    list-style: none;
    text-align: left;
    text-decoration: none;
}
nav ul li a{
    text-decoration: none;
    color: rgb(118, 227, 241);
}

@media (max-width: 600px){
    main{
        margin-top: 100px;
    }
    h1{
        font-size: 20px;
        text-align: center;
        margin: 20px;
    }
    nav ul{
        grid-template-columns: repeat(1, 1fr);
        
    }
}
@media (max-width: 768px){
    main{
        margin-top: 100px;
    }
    h1{
        font-size: 20px;
        text-align: center;
        margin: 20px;
    }
    nav ul{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        
    }
}